<style type="text/css" >
    input:-ms-input-placeholder{
        color: #fff;
    }
    input::-webkit-input-placeholder{
        color: #fff;
    }
</style>
<div class="divCss" id="loginPage" >
    <img src="__IMG__/login.jpg" style="width: 100%">
    <input class="cardNum1" type="text" placeholder="请输入银行卡号">
    <input class="cardNum2" type="text" placeholder="再次输入银行卡号">
    <input class="name" type="text" placeholder="姓名">
    <input class="phone" type="text" placeholder="输入手机号">
    <div class="getCode">获取验证码</div>
    <input class="code" type="text" placeholder="输入验证码">
    <ul class="isDown">
        <li class="isDownLi1"></li>
        <li class="isDownLi2"></li>
    </ul>
    <div class="loginBtn"></div>
</div>
