<div class="divCss" id="listPage" style="background: #f1f1f1">
    <div class="top" onclick="window.history.back(1)">{$info.g_name}</div>
    <div class="topBanner">
        <img src="{$info.g_thum}">
    </div>

    <div class="center2">
        <div class="centerBan1">
            <span class="span1">{$info.g_price}积分/张</span>
            <span class="span2">{$info.g_desc}</span>
        </div>
        <div class="centerBan2">
            <span class="span3">有效期:    {$info.g_term}</span>
            <if condition="$_GET.mark eq 'free'">
                <span class="span4">剩余{$info.g_free}张</span>
            <else/>
                <span class="span4">剩余{$info.g_count}张</span>
            </if>
        </div>
        <div class="centerBan3">
            <input id="mark" type="hidden" value="0">
            <div class="num2">
                兑换<input class="numInput" type="text" placeholder="请输入兑换数量">张
            </div>
            <div class="wz">您目前有{$user.score}积分,可以兑换<span>{$user.can}</span>张</div>
            <div class="exchange" data-id="{$info.g_id}"></div>
        </div>
    </div>
    <div class="center3">
        <div class="ruleTitle">
            使用规则
        </div>
        <div class="ruleBox">
            {$info.g_info}
        </div>
    </div>
</div>