<style type="text/css" >
    input:-ms-input-placeholder{
        font-size: 0.36rem;
        color: #999999;
    }
    input::-webkit-input-placeholder{
        font-size: 0.36rem;
        color: #999999;
    }
</style>
<div class="divCss" id="listPage">
    <if condition="$_GET['type'] eq 'free'">
        <div class="top_no">
    <else/>
        <div class="top" onclick="window.location.href='__URL__/index'">
    </if>
    <if condition="$mark eq 'list'">
        <if condition="$_GET['type'] eq 'free'">
            派发
        <else/>
            {$nav[$_GET['type']-1]}
        </if>
    <else/>
        搜索结果
    </if>
    </div>
    <div class="list" data-type="{$_GET.type}">
        <ul class="ul1">
            <volist name="info" id="vo">
                <li>
                    <a href="__URL__/info/type/{$_GET['type']}/gid/{$vo.g_id}/mark/{$_GET.type}" style="display: block">
                    <div class="imgBox">
                        <img src="{$vo.g_thum}">
                    </div>
                    <div class="right">
                        <div class="title">{$vo.g_name}</div>
                        <div class="xq">{$vo.g_desc}</div>
                        <if condition="$_GET.type neq 'free'">
                            <div class="num">剩余{$vo.g_count}张</div>
                            <div class="score"><span>{$vo.g_price}</span>积分</div>
                        <else/>
                            <div class="num">剩余{$vo.g_free}张</div>
                            <div class="score"><span>0</span>积分</div>
                        </if>
                    </div>
                        <div class="right2">
                            <div class="more gotBtn">领取</div>
                        </div>
                    </a>
                </li>
            </volist>
        </ul>
    </div>
    <include file="./Apps/Home/View/footer.html" />
</div>

<div class="zhezhao divcss">
    <div class="whichCard">
        <div class="w_closeBox">
            <div class="w_close"></div>
        </div>
        <div class="w_nr">

            <div class="w_title">领奖电话号码</div>
           <input type="text" class="w_phone" placeholder="请输入您的领奖电话号码">
            <div class="w_sureBtn">确认</div>
        </div>

    </div>
</div>