<style type="text/css" >
    input:-ms-input-placeholder{
        font-size: 0.36rem;
        color: #999999;
    }
    input::-webkit-input-placeholder{
        font-size: 0.36rem;
        color: #999999;
    }
</style>
<div class="divCss" id="listPage">
    <div class="top" onclick="window.history.back(1)">
    <if condition="$mark eq 'list'">
        {$nav[$_GET['type']-1]}
    <else/>
        搜索结果
    </if>
    </div>
    <div class="list" data-type="{$_GET.type}">
        <ul class="ul1">
            <volist name="info" id="vo">
                <li>
                    <a href="__URL__/info/type/{$_GET['type']}/gid/{$vo.g_id}/mark/{$_GET.type}" style="display: block">
                    <div class="imgBox">
                        <img src="{$vo.g_thum}">
                    </div>
                    <div class="right">
                        <div class="title">{$vo.g_name}</div>
                        <div class="xq">{$vo.g_desc}</div>
                        <if condition="$_GET.type neq 'free'">
                            <div class="num">剩余{$vo.g_count}张</div>
                            <div class="score"><span>{$vo.g_price}</span>积分</div>
                        <else/>
                            <div class="num">剩余{$vo.g_free}张</div>
                            <div class="score"><span>0</span>积分</div>
                        </if>
                    </div>
                        <div class="right2">
                            <a href="__URL__/info/gid/{$vo.g_id}">
                                <div class="more gotBtn">领取</div>
                            </a>
                        </div>
                    </a>
                </li>
            </volist>
        </ul>
    </div>
    <include file="./Apps/Home/View/footer.html" />
</div>
